.caniuse_contentdiv {
	height:100%;
	overflow:auto;
}

.caniuse_catlistColumn,
.caniuse_featureColumn {
	position: relative;
	float:left;
	box-sizing: border-box;
	padding: 18px;
}

.caniuse_catlistColumn {
	width: 30%;
	height: 100%;
	border-right: 1px solid #cdd0d0;
}

.caniuse_featureColumn {
	width: 70%;
	height: 100%;
	overflow-y: auto;
}

.caniuse_catlist {
	position: absolute;
	top: 63px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	padding-bottom: 18px;
}

.caniuse_filter {
	width: -webkit-calc(100% - 9px);
	width: calc(100% - 9px);
}

.caniuse_noMatches {
	margin: 36px 0;
	opacity: 0.6;
	text-align: center;
}

.caniuse_cat {
	margin-bottom: 12px;
}

.caniuse_catheader {
	margin-bottom: 6px;
	padding: 0 18px;
	font-weight: bold;
	font-size: 18px;
	line-height: 1;
}

.caniuse_catheader:first-child {
	margin-top: 0;
}

.caniuse_supportdisplay:not(:empty) {
	margin-bottom: 36px;
}

.caniuse_feature {
	display: block;
	padding: 2px 18px;
	color: inherit;
}

.caniuse_feature:hover {
	color: inherit;
	background: rgba(0,0,0,0.1);
	text-decoration: none;
}

.caniuse_feature:focus {
	background: #e0f0fa;
	outline: 0;
}

.caniuse_feature_title { font-size:2em;font-weight:bold;}
.caniuse_legend * {
	display: inline-block;
}

.caniuse_legend {
	font-size: 13px;
	text-align: center;
}

.caniuse_legend dt {
	width: 25px;
	height: 1em;
	margin-right: 3px;
	position: relative;
	top: 2px;
}

.caniuse_legend dd::before {
	content: '= ';
}

.caniuse_legend dd {
	margin: 0 1em 0 0;
	line-height: 1em;
}

.caniuse_y { background-color:#3c3; color: black; }
.caniuse_n { background-color:#f33; color: black; }
.caniuse_a { background-color:#ff0; color: black; }
.caniuse_u { background-color:#ccc; color: black; }

table.caniuse {
	width: 100%!important;
}

th.caniuse, td.caniuse {
	text-align: center;
	vertical-align: middle;
}

td.caniuse:first-child {
	text-align: right;
	padding-right: 5px;
}
