
<b class="caniuse_feature_title">{{title}}</b><br/>

<section class="caniuse_legend">
<dl>
<dt class="caniuse_y"></dt>
<dd>Supported</dd>

<dt class="caniuse_n"></dt>
<dd>Not supported</dd>

<dt class="caniuse_a"></dt>
<dd>Partially supported</dd>

<dt class="caniuse_u"></dt>
<dd>Support unknown</dd>
</dl>
</section>
<br/>
<div style="float:right">
<table>
	<tr><th>Usage stats:</th><th>Global</th></tr>
	<tr><td>Support:</td><td>{{usage_perc_y}}'%</td></tr>
	<tr><td>Partial Support:</td><td>{{usage_perc_a}}%</td></tr>
	<tr><td>Total:</td><td>{{totalUsage}}%</td></tr>
</table>
</div>

<!-- main support table -->
<table>
<tr>
	<th>&nbsp;</th>
	<th>IE</th>
	<th>Firefox</th>
	<th>Chrome</th>
	<th>Safari</th>
	<th>Opera</th>
	<th>iOS</th>
	<th>Android</th>
</tr>
{{#featuresupport}}
<tr>
	<td>{{label}}</td>
	{{#browsers}}
		<td class="{{supportclass}}">{{version}}</td>
	{{/browsers}}
</tr>
{{/featuresupport}}
</table>