
<b class="caniuse_feature_title">{{title}}</b> (Support: {{usage_perc_y}}% / Partial Support: {{usage_perc_a}}% / Total: {{totalUsage}}%)

<section class="caniuse_legend">
<dl>
<dt class="caniuse_y"></dt>
<dd>Supported</dd>

<dt class="caniuse_n"></dt>
<dd>Not supported</dd>

<dt class="caniuse_a"></dt>
<dd>Partially supported</dd>

<dt class="caniuse_u"></dt>
<dd>Support unknown</dd>
</dl>
</section>

<!-- main support table -->
<table class="caniuse">
<tr>
	<th class="caniuse">&nbsp;</th>
	<th class="caniuse">IE</th>
	<th class="caniuse">Firefox</th>
	<th class="caniuse">Chrome</th>
	<th class="caniuse">Safari</th>
	<th class="caniuse">Opera</th>
	<th class="caniuse">iOS</th>
	<th class="caniuse">Android</th>
</tr>
{{#featuresupport}}
<tr>
	<td class="caniuse">{{label}}</td>
	{{#browsers}}
		<td class="caniuse {{supportclass}}">{{version}}</td>
	{{/browsers}}
</tr>
{{/featuresupport}}
</table>